---
import Layout from "@/layouts/PageLayout.astro";
import { render } from "astro:content";
import FloatBtns from "@/components/common/FloatBtns.astro";
import MemberGrid from "@/components/common/MemberGrid.astro";
import getWorks from "@/lib/getWorks.ts";
import { getI18n } from "@/i18n/index";
import { getRelativeLocaleUrl } from "astro:i18n";
import { siteConfig } from "@/site.config";

const { work } = Astro.props as { work: any };

const currentLocale = work?.data?.locale ?? Astro.currentLocale ?? "en";
const i18n = await getI18n(currentLocale, "design");

const mates = {
  title: i18n("page_works.title"),
  description: i18n("mate.description"),
  author: siteConfig.author,
  email: siteConfig.email,
  local: currentLocale,
  ogImage: getRelativeLocaleUrl(currentLocale, "/og-image/site-image.png"),
};

const works = (await getWorks(currentLocale)) as unknown as any[];

const workSlug = work?.data?.slug ?? Astro.params.work_id;
const activeWork =
  works.find(
    (it) => it.data.slug === workSlug && it.data.locale === currentLocale,
  ) ??
  works.find((it) => it.data.slug === workSlug) ??
  work;

const { Content } = await render(activeWork);

const currentIdx = works.findIndex(
  (it) => it.data.slug === activeWork.data.slug,
);
let preIdx = currentIdx - 1,
  nextIdx = currentIdx + 1;
if (preIdx < 0) preIdx = works.length - 1;
if (nextIdx >= works.length) nextIdx = 0;
---

<Layout {...mates}>
  <div class="prose prose-tao dark:prose-invert max-w-none w-full px-4">
    <Content />
  </div>
  <div class="divider"></div>
  <MemberGrid work={activeWork} />
  <FloatBtns
    btns={[
      {
        type: "link",
        href: getRelativeLocaleUrl(
          currentLocale,
          `/${works[preIdx].data.slug}`,
        ),
        icon: "icon-[ooui--arrow-previous-ltr]",
        label: i18n("page_detail.prev"),
      },
      {
        type: "link",
        href: getRelativeLocaleUrl(
          currentLocale,
          `/${works[nextIdx].data.slug}`,
        ),
        icon: "icon-[ooui--arrow-previous-rtl]",
        label: i18n("page_detail.next"),
      },
      {
        type: "theme",
        props: { themes: siteConfig.themes },
      },
      {
        type: "top",
        label: i18n("btns.backToTop"),
      },
    ]}
  />
</Layout>
