---
import { getRelativeLocaleUrl } from "astro:i18n";
import HdudHeader from "@hdud/common/components/Header.astro";
import siteConfig from "@/site.config";
import { getI18n } from "@/i18n/index";
import { getMenus } from "@/config/menus";

const { currentLocale } = Astro;
const i18n = await getI18n(currentLocale, "design");

function getTargetUrl() {
  const lang = currentLocale || "en";
  return getRelativeLocaleUrl(lang, "/");
}
---

<HdudHeader
  menus={getMenus(i18n("menus"), currentLocale)}
  class="max-w-none"
  themes={siteConfig.themes}
  langs={siteConfig.langs}
  langLabel={i18n("langLabel")}
>
  <div class="flex items-center gap-2">
    <a href={getTargetUrl()} class="inline-block max-md:hidden xl:hidden">
      <img
        src="/images/anas-uddin-logo.svg"
        class="size-8 md:size-10 xl:size-12 h-auto"
      />
    </a>
    <span class="max-md:hidden text-md max-md:text-xl xl:text-xl"
      >{i18n("brand")}</span
    >
  </div>
  <div class="flex items-center gap-2" slot="center">
    <a href={getTargetUrl()} class="md:hidden xl:block">
      <img
        src="/images/anas-uddin-logo.svg"
        class="size-8 md:size-10 xl:size-12 h-auto"
      />
    </a>
    <span class="md:hidden text-md xl:text-xl">{i18n("brand")}</span>
  </div>
</HdudHeader>
